/* CASEIN CUSTOM */
/* Use this file for your project-specific Caseadilla CSS */

input.caseadilla-check-boxes {
  display: block;
  width: 1.5em;
  height: 1.5em;
  float: left;
}

input.caseadilla-check-boxes + label {
  position: relative;
  top: 0.25em;
  margin-left: 2em;
  display: block;
  font-weight: 300;
}

input.caseadilla-check-boxes.hours_before + label:after {
  content: " hours before";
}

#content table.table.table-bordered td ul.list-group, #content table.table.table-bordered td li.list-group-item {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

#content table.table.table-bordered td a {
  padding: 0;
  &:hover {
    text-decoration: none;
    color: #707070;
  }
}

#content table.table.table-bordered td > a {
  text-decoration: underline;
  padding-bottom: 4px;
}

td.gray {
  background-color: #f0f0f0;
  height: 6em;
}