<p>Hi <%= @person.name %>,</p>

<p>
This is to remind you that you have signed up for Adoration at the University of Dallas on:
</p>

<h3><%= @time_slot.day %> at <%= @time_slot.time.strftime("%l:%M%P") %></h3>

<p>
God Bless,<br>
Some People
</p>
