<p>Hi <%= @person.name.split[0] %>,</p>

<p>
<%= simple_format(@person.reminders.first.message).html_safe %>This is to remind you that you have signed up for Adoration at the University of Dallas on:
</p>

<h3><%= @time_slot.day %> at <%= @time_slot.time.strftime("%l:%M%P") %></h3>

<p>
God Bless,<br>
Jenna
</p>
