<!-- NOTE: the caseadilla:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-people"><%= link_to "People", caseadilla_people_path %></li>
<li id="tab-reminders"><%= link_to "Reminders", caseadilla_reminders_path %></li>